* {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375C
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* ========================== Common ========================== */
.container {
    width: 1170px;
    max-width: calc(100% - 24px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 205px;
    line-height: 60px;
    background: #2E80CE;
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    border-radius: 999px;
}

.btn:hover {
    opacity: 0.9;
}

.section-heading {
    color: #10375C;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; 
    letter-spacing: -1px;
}

.section-desc {
    margin-top: 18px;
    color: #575F66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67; 
}
/* Control btn */
.control {
    display: flex;
    column-gap: 18px;
    align-items: center;
}

.control__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #575F66;
    background: #fff;
    cursor: pointer;
    transition: 0.25s;
}

.control__btn:hover {
    background: #2E80CE;
    border-color:  #2E80CE;
    color: #fff;
}

.control-icon--next {
    rotate: 180deg;
}

/* ========================== Header ========================== */
.header {
    padding-top: 30px;
    background: var(--header-bg);   
    min-height: 100vh;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
}

.header__action--login,
.navbar__link {
    padding: 8px 21px;
    color: #C9D2DA;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.75;
}

.navbar__link:hover,
.navbar__link--active {
    text-shadow: 1px 0 0 currentColor;
    color: #fff;
}

.navbar__link--active::before {
    position: relative;
    top: -2.5px;
    right: 8px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}

.header__action--signup {
    min-width: 144px;
    line-height: 44px;
    font-size: 1.6rem;
}

.header__action--login {
    margin-right: 7px;
}

/* ========================== Hero ========================== */
.hero {
    display: flex;
    align-items: center;
    padding-top: 76px;
}

.hero__content {
    width: 44%;
}

.hero__media {
    flex: 1;
}

.hero__heading {
    color: #FFF;
    font-size: 7rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.14; 
    letter-spacing: -1.4px;
}

.hero__desc {
    margin-top: 22px;
    color: #C9D2DA;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.67; 
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 33px;
    column-gap: 38px;
}

.hero__phone {
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.67; 
}

.hero__images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    border-radius: 6px;
    object-fit: cover;
}

.hero__img-large {
    width: 330px;
    height: 540px;
    margin-right: -6px;
    z-index: 1;
}

.hero__img-small {
    width: 210px;
    height: 410px;
}

/* ========================== Service ========================== */
.service {
    padding: 170px 0;
    background: #fff;
}

.service__heading,
.service__desc {
    text-align: center;
}

.service__desc {
    width: 468px;
    margin: 18px auto 0;
}

.service__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.service__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

.service-item {
    display: flex;
    width: 470px;
    padding: 21px;
    background: #fff;
    border-radius: 10px;
    transition: 0.25s;
}

.service-item:hover {
    position: relative;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon {
    color: #fff;
    background: #2E80CE;
}

.service-item__icon {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: #EFF6FD;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-right: 19px;
    transform: 0.25s;
}

.service-item__heading {
    color: #10375C;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
}

.service-item__desc {
    margin-top: 8px;
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; 
}

.service__btn {
    margin-top: 55px;
}

/* ========================== Work  ========================== */

.work {
    background: #F6FBFF;
    padding: 100px 100px; 
}

.work__desc {
    width: 468px;
}

.work__list {
    margin-top: 86px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.work-item {
    padding: 43px;
    border-radius: 4px;
    background: #FFF;
    border: 16px solid #EAF6FF;
}

.work-item:hover {
    border-color: #2E80CE;
    transition: 0.25s;
    transform: translateY(-16px);
}

.work-item__heading {
    color: #10375C;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38; 
}

.work-item__desc {
    margin-top: 28px;
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.work-item__more {
    margin-top: 18px;
    display: inline-block;
    color: #2E80CE;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; 
}

/* ========================== About ========================== */
.about {
    padding: 85px 0 206px;
    margin-top: 85px;
}

.about-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__media {
    width: 49%;
}

.about-content {
    width: 40%;
}

.about__img {
    position: relative;
}

.about__img--big {
    display: flex;
    width: 512px;
    height: 370px;
    border-radius: 6px;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.07);
    object-fit: cover;
}

.about__img--small {
    position: absolute;
    top: 121px;
    left: 238px;
    width: 332px;
    height: 370px;
    border-radius: 6px;
    object-fit: cover;
}

.about-content__btn {
    margin-top: 38px;
}

/* ========================== Team ========================== */
.team {
    padding: 85px 0;
}

.team-header {
    text-align: center;
    margin: 0 auto;
}

.team__cta {
    margin-top: 38px;
}

.team__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    margin-top: 70px;
}

.team-item__thumb {
    height: 290px;
    max-width: 100%;
    object-fit: cover;
    display: block;
    transition: 0.5s;
}

.team-item:hover .team-item__thumb {
    transform: scale(1.1);
}

.team-item__img-bg {
    padding-top: 28px;
    border-radius: 6px;
    background: #EAF6FF;
    overflow: hidden;
}

.team-item__name {
    margin-top: 12px;
    color: #10375C;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.75;
}

.team-item__desc {
    color: #575F66;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.86; 
}

.team__control {
    margin-top: 38px;
    justify-content: center;
}